.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/


/data
/Hands-on_Ex/Hands-on_ex02/data
/Hands-on_Ex/Hands-on_ex01/data
/In-class-Ex/In-class-Ex03/data
/Take-Home_Ex/Take-Home_Ex02/data
